* {
    margin-left: 20px;
    margin-right:20px;
    padding:0;
    box-sizing:border-box;
}

h1 {
    font-family: 'DM Sans', sans-serif; /* Use the first font */
    font-size: 50px;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: 90px;
    text-align: center;
}

nav {
    text-align:center;
    border: none;
    font-family: 'DM Sans', sans-serif; /* Use the first font */
    font-size: 25px;
    padding: 5px;
    text-transform: uppercase;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: inline-block;
}

nav li{
    display:inline;
    padding: 5px;
}

nav a{
    text-decoration: none;
    color: black;
}

a:hover {
    color: orangered;
}

/* INTRO SECTION*/

#intro {
    width: 100%;
    height: 70vh;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
}

.content {
    display: flex;
    align-items: center;
    padding: 50px;
}

.paragraph {
    margin-right:40px;
    font-size: 20px;
}
.baggu-image {
    width:30%;
    height:auto;
    margin-top: 50px;
}

/* CONTENT SECTION*/ 

#content {
    font-family: 'DM Sans', sans-serif;
}

.content-divider {
    width: 100%;
    height:4px;
    background-color: #000000;
    margin:20px;
}
.flex1, .flex2, .flex3 {
    display:flex;
    align-items: center;
    margin: 0 10px;
}

.flex-content {
    margin-left: 20px;
    flex: 1; /*allows the paragraph to grow*/
    font-size: 20px;
    padding: 20px;
}

.baggu-image2 {
    width: 60%;
    height: auto;
    padding: 20px;
}

.baggu-image3 {
    width: 60%;
    height: auto;
    padding: 20px;
    margin-top: 50px;
}

.baggu-image2, .baggu-image3 {
    border: 4px solid #000000; 
    border-radius: 0px; 
    padding: 20px; /* padding inside the border */
}

h2 {
    font-family: 'DM Sans', sans-serif; /* Use the first font */
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: 50px;
    text-align: center;
    margin-bottom: 70px;
}

.flex3 {
    font-size: 20px;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    padding: 50px;
    border: 4px solid #000000;
}


/* UI SECTION*/
.flexbox1 {
    display: flex;
    flex-direction:column;
}

.flexbox2 {
    display: flex;
    flex-direction:column;
}

.ui-flex {
    font-family: 'DM Sans', sans-serif;
    display: flex;
    flex-direction:row;
}

.baggu-dropdown {
    width: 100%;
    height: auto;
    padding: 20px;
}

.baggu-bag {
    width: 100%;
    height: auto;
    padding: 20px;
}

/* REVIEW SECTION*/

#review {
    font-family: 'DM Sans', sans-serif;
}

.review-paragraph{
    font-size: 20px;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
    border: 4px solid #000000;
}

.stack-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.smiley-pic {
    width: 180%;
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh; 
}