li {
    font-family: Helvetica, sans-serif;color: rgb(1, 1, 110); 
}

h1 {
    color: red; font-family: Helvetica, sans-serif; font-weight: bold; font-size: 200px;
    /* margin-bottom: 10px; */
    padding-bottom: 5px;
    /* margin-top: 0px; */
    padding-top: 20px;
    margin: 20px 0 10px 0;
    line-height: 150px;
    text-align: center;
}

h3 {
    font-family: Helvetica, sans-serif; font-size: 20px; color: rgb(1, 1, 110);
}

body {
    background-color: pink; 
    width: 1000px; 
    margin: 0 auto 0 auto 
}

h4 {
    color: rgb(1, 1, 110); 
    text-align: center;
}