/* set all elements to zero margin and padding so I can control them */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border box so that paddings and borders are included in height and width measurements*/
}
#opener {
    width: 100%;
    height: 100vh;
    color: white;
    background-image: url(images/stars.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    position: relative;
    overflow: hidden;
}
.quote {
    width: 60%; /* can also use a value like 500px */
    position: relative;
    top: 15%;
    left: 10%;
    z-index: 100;
}
h2 {
    font-size: 40px;
    margin-bottom: 25px;
    font-family: "Kalnia", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}
h3 {
    font-size: 18px;
    font-family: "Inclusive Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}
a {
    color: yellow;
    text-decoration: none;
}
a:hover {
    color: orange;
    text-decoration: underline;
}

.redmoon {
    background-image: url(images/moon-red.png);
    width: 600px;
    height: 600px;
    background-size:contain;
    position: absolute;
    right: -100px;
    bottom:-50px;
    z-index:20px;
}

.bluemoon {
    background-image: url(images/moon-blue.png);
    width:800px;
    height:800px;
    background-size: contain;
    position:absolute;
    top: 100px;
    left: -100px;
    z-index: 10;
}

.graymoon {
    background-image: url(images/moon-bw.png);
    width:200px;
    height: 200px;
    background-size:contain;
    position: absolute;
    left: 300px;
    bottom: -50px;
    z-index: 15;
}

/* LISTS SECTION */

.flex-area {
    display: flex;
    flex-direction: row;
    justify-content: center; /* adding this for the videos */
}

.flexitem {
    width:33.3%;
    margin:50px;
}

ul {
    list-style-type: none;
}

li {
    font-family: "Inclusive Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    border-bottom: 1px dotted gray;
    padding: 10px 0 10px 0;
    color: white;
}

span {
    color:plum;
    font-style: italic;
    display: block;
    font-size: 14px;
}

h4 {
    font-family: "Kalnia", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: 30px;
    margin-bottom: 30px;
    color: white;
}

#lists-section {
    background-image: url(images/galaxy.jpg);
    background-size: cover;
    padding: 100px 200px;
    background-position: bottom;
}

/* VIDEO SECTION */

#video-section {
    background-color: black;
    padding: 200px 0;
}
iframe {
    margin: 0 50px;
}

/* HEADER STUFF */

header {
    text-align:center;
    position: fixed;
    top: 0;
    left:0;
    z-index: 99999;
    width:100;
}

h1 {
    color: white;
    font-family: "Kalnia", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: 60px;
}

nav ul li {
    border: none;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
}

nav a{ 
    background-color: yellow;
    border: 1px solid gray;
    color: black;
    padding: 5px 10px;
    margin: 0 10px;
}

nav a:hover {
    background-color: black;
    color: yellow;
    border: 1px solid yellow;
    text-decoration: none;
}

/* ANIMATED SECTION */

#animated-section {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-image: url(images/stars.jpg);
    background-size:cover;
    animation-name: movestars;
    animation-duration: 120s;
    animation-timing-function: linear;
    animation-delay:0s;
    animation-iteration-count: infinite;
    animation-direction: normal;

}

@keyframes movestars{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 6000px 0;
    }

}

.moon1 {
    width: 400px;
    height:400px;
    position:absolute;
    top:0;
    left:0;
    animation-name: movemoon;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay:2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes movemoon {
    0% {
        top:0;
        left:0;
    }

    50% {
        top: 500px;
        left:0;
    }

    100% {
        top:0;
        left:1000px;
    }
}

.moon2 {
    width: 200px;
    height: 200px;
    position:absolute;
    bottom: 50px;
    right:50px;
    animation-name: rotatemoon;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay:2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes rotatemoon{
    0%{
        bottom: 50%;
        right: 50%;
        opacity: 0;
        transform: rotate (0deg);
    }
    100%{
        bottom: 90%;
        right: 90%;
        opacity:1;
        transform: rotate(360deg);
    }
}

.moon3 {
    width: 600px;
    height: 600px;
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 900;
    /*
    animation-name: movemoon;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay:2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse; */

    animation: movemoon 15s linear 0s infinite alternate-reverse;

}